@import '../../../../styles/colors.scss';
@import '../../styles/palette.scss';

.linkLayer {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
    overflow: hidden;

    fill: none;

    .link {
        stroke: $outline-color;
        stroke-width: 2px;
        pointer-event: all;
    }
}
