@import '../../styles/palette.scss';

@mixin item-base {
  display: block;
  text-decoration: none;

  &:hover {
    background-color: $hover-background;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  }
}
