$primary-color: #2196F3;

$text-color: #616668;
$accent-text-color: #2196F3;

$divider-color: #E5E9F2;
$outline-color: #D8DCE3;

$background-color: white;
$secondary-background-color: #F9FAFC;
$accent-background-color: #A8AEB9;

$selection-mask: opacify(black, 0.2);
$hover-background: rgba(33, 150, 243, 0.1);
