@import '../../styles/palette.scss';

.wrapper {
  background-color: white;
  border-bottom: 1px solid $divider-color;
  box-shadow: none;
}

.title {
  color: $accent-text-color;
  text-decoration: none;
}
