@import '../../styles/palette.scss';

.node {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-family:Arial;
    color: $text-color;
    background-color: $secondary-background-color;

    border-radius: 4px;
    border: 2px solid $outline-color;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    user-select: none;
    cursor: move;
    pointer-events: all;

    &.selected {
        border-color: rgb(0,192,255);
        box-shadow: 0 0 10px rgba(0,192,255,0.5);
    }

    .titles {

        .title {
            white-space: nowrap;
            font-size: 14px;
            color: $text-color;
            float: left;
            margin: 8px;
        }

        .icon {
            color: $text-color;
            float: right;
            margin: 8px;
            cursor: pointer;
        }
    }

    .ports {
        .inPorts {
            float: left;
        }

        .outPorts {
            float: right;
        }
    }
}
