@import '../../styles/palette.scss';

@mixin sectionTitle {
    color: $text-color;
    font-weight: 100;
    font-size: 14px;
}

@mixin sectionButton {
    float: right;
}

@mixin sectionHeader {
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 8px;
}

.wrapper {
    border-left: 1px solid $divider-color;
    height: 100%;
    overflow: scroll;

    .model {

        .modelHeader {
            @include sectionHeader

            .modelTitle {
                @include sectionTitle
            }
        }

        .modelSelect {
            width: calc(90%);
        }
    }

    .name {

        .nameHeader {
            @include sectionHeader

            .nameTitle {
                @include sectionTitle
            }

            .nameButton {
                @include sectionButton
            }
        }
    }

    .exec {

        .execHeader {
            @include sectionHeader

            .execTitle {
                @include sectionTitle
            }

            .execButton {
                @include sectionButton
            }
        }
    }
}
